.row
  .small-2.columns
    %h2 Filters
    %ul.side-nav
      = render partial: 'filter/list', collection: @filters, as: :filter
  .small-7.columns
    %h2 Cases
    - if @cases.empty?
      No cases found!
    - else
      = render partial: 'case/list', locals: {cases: @cases}
  .small-3.columns
    %h2 Labels
    %ul.side-nav
      = render partial: 'label/list', collection: @labels, as: :label_nav
      = render partial: 'label/form'
